/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #294D61;
    
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Header */

.header1{
    display: flex;
    width: 100%;
    height: 15vh;
    padding: 5px;
    background-color: rgba(55, 179, 213, 0.5);
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;

}
#gototop{
    width: 4em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Footer Stylings */

footer{
    background-color: rgba(55, 179, 213, 0.5);
    position: absolute;
    width: 100%;
    height: 15rem;
    margin: 0;
    padding: 0;
    box-shadow:0 -5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#footer-logo{
    width: 17rem;
    height: auto;
}
#footer-logo img{
    width:100%;
}

.footer-container{
    display: grid;
    grid-template-columns:auto auto;
    margin: 0.5rem;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.footer-col{
    width: 30%;
    padding: 0px 10px ;
}
.footer-col h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.footer-row ul{
    list-style: none;
}
.footer-row ul li{
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;

}

.footer-row ul a{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 700;
    color: black;
    display: block;
    

}

.footer-row ul a :hover{
    color: white;
    padding-left: 5%;
}

.social-links{
    display: flex;
}

.social-links img{
    width: 2.5rem;
    margin-right: 10px;
    border-radius: 30%;
    transition: all 0.3s ease-in-out;
    padding: 5px;

}

.social-links a :hover{
    background-color: white;
    border-radius: 30%;
    transform: translateY(-5px);
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Logo, Navigation bar and Search bar */

#logo{
    width: 15rem;
}
#logo img{
    width: 100%;
}

#nav{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    border-radius: 1em;
}


#searchbar{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #d6edf3;
    border-radius: 100px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}

#searchbar:hover input{
    width: 150px;
}

#searchbar input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

#searchbar a{
    color: rgb(17, 27, 27);
    font-size: 30px;
}

#searchbar1{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #d6edf3;
    border-radius: 100px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    display: none;
}

#searchbar1:hover input{
    width: 150px;
}

#searchbar1 input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

#searchbar1 a{
    color: rgb(17, 27, 27);
    font-size: 30px;
}

#imgsearch{
    width: 1.2rem;
}

.active {
    background-color: #d6edf3;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}

.hamburger img{
    width: 20%;
    float: right;
    display: none;
}

ul li a:hover{
    background-color:#d6edf3;
    border-radius: 1em;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

ul li:hover ul.dropdown{
    display: block;
    border-radius: 1em;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}

ul {
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background:  rgba(113, 179, 196, 1);
    position: absolute;
    z-index: 1;
    display:none;
}
.hamburger {
    position: relative;
}       
/* ----------------------------------------------------------------------------------------------------------- */
/* Intro Section */

.intro{
    height: 16rem;
    width: 100%;
    overflow: hidden;
    
}

.intro h1{
    text-align: center;
    margin-top: 3.125rem;
    
}

.intropara{
    padding: 1.25rem 1.25rem;
    margin: 0.625rem 12.5rem 0.625rem 12.5rem;
    background-color: #6DA5C0;
    box-shadow: 5px 10px 9px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;

}

/* ----------------------------------------------------------------------------------------------------------- */

.mainimg2{
    height: 80vh;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
    
}

.mainimg2 img{
    width: 100%;
    object-fit: cover;
}

.mainimg2 h1{
    font-size: 4em;
    position: absolute;
    top: 20%;
    left: 30%;
    color: #ffffff00;
    background-image: url(./Images/anima.png);
    -webkit-background-clip: text;
    -webkit-text-stroke:1px rgb(0, 0, 0);
    background-color: #ffffff;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%
    {
        background-position: left 0px top 300px;
    }
    40%
    {
        background-position: left 800px top 150px;
    }
    80%
    {
        background-position: left 1800px top 150px;
    }
    100%
    {
        background-position: left 2400px top 300px;
    }
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Gallery Stylings */

.galsect2{
    height: 180vh;
    width: 100%;
    overflow: hidden;
    padding: 2% 4%;
    position: relative;
    /* background-color: #525151; */
}
.galsect2 p{
    font-family: "Montserrat" , "sans-serif";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.galcontainer2{
    height: 170vh;
    width: 100%;
    overflow: hidden;
    padding: 1% 1%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    
}

.galimg2{
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 500px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    border-radius: 1em;
}

.galimg2:hover{
    transform: scale(1.1);
    z-index: 1;
}

.galcontainer2 img{
    margin: 5px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.5);
}

/* ----------------------------------------------------------------------------------------------------------- */

.map{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 2% 2%;
    position: relative;
    
}

.map iframe{
    width: 100%;
    height: 100%;

}

@media screen and (max-width:1200px) and (min-width:1000px) {
    nav p{
        font-size: 1.1rem;
    }

    #logo{
        width: 12rem;
    }

    #imgsearch{
        width: 20px;
    }

    #searchbar{
        height: 40px;
    }
    #searchbar:hover input{
        width: 100px;
    }
    nav ul li a{
        padding: 5px 10px;
    }
    .intro{
        height: 15rem;
    }
    .intropara{
        margin: 0.625rem 5rem 0.625rem 5rem;
    }

    .intro h1{
        text-align: center;
        margin-top: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
    
    }
    .mainimg2 h1{
        top:16%;
        left: 15%;
    }
    .galsect2{
        height: 230vh;
    }
    .galcontainer2{
        height: 220vh;
        grid-template-columns: 50% 50%;
    }
    .galimg2{
        height: 300px;
    }

}

@media screen and (max-width:1000px) and (min-width:750px) {

    .header1{
        display: flex;
        width: 100%;
        height: 7vh;
        padding: 5px;
    }
    #searchbar:hover input{
        width: 70px;
    }
    #nav{
        margin: 0rem;
        padding: 0rem;
        text-align: center;
    }    
    nav ul li a{
        padding: 5px 5px;
    }
    nav p{
        font-size: 0.85rem;
    }

    #logo, #footer-logo{
        width: 12rem;
    }

    #imgsearch{
        width: 20px;
        height: 20px;
    }

    #searchbar{
        height: 25px;
    }

    .intro{
        height: 18rem;
    }
    .intropara{
        margin: 0.625rem 1.1rem 0.625rem 1.1rem;
    }

    .intro h1{
        text-align: center;
        margin-top: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
    
    }
    .mainimg2{
        height: 39vh;
    }
    .footer-col h3{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 22px;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 1rem;

    }
    .footer-row ul li{
        margin-bottom: 3px;
        transition: all 0.3s ease-in-out;

    }

    .social-links img{
        width: 2rem;

    }
    .mainimg2 h1{
        top:8%;
        font-size: 50px;
        left: 15%;
    }
    .map{
        height: 50vh;
    }
    .galsect2{
        height: 140vh;
    }
    .galcontainer2{
        height: 130vh;
        grid-template-columns: 50% 50%;
    }
    .galimg2{
        height: 300px;
    }

}
@media screen and (max-width:750px) and (min-width:350px) {
    .header1{
        display: flex;
        width: 100%;
        height: 8vh;
        padding: 5px;
        justify-self: auto;
    }
    #searchbar{
        display: none;
    }
    #searchbar1{
        display: flex;
        padding: 5px;
    }
    #searchbar1 img{
        display: block;

    }
    #searchbar1 input{
        width: 90%;
    }
    #searchbar1:hover input{
        width: 90%;
    }
    
    nav ul li{
        display: block;
        margin-bottom: 2px;
    }
    nav ul li ul.dropdown{
        display:block;
        background-color: transparent;
        position: relative;
    }

    #nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #5483B3;
        border-radius: 1rem;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        z-index: 2;
        padding: 5px;
        margin: 0;
    }
    
    .hamburger:hover #nav {
        display: block;
    }
    
    #menu-icon {
        width: 20%;
        float: right;
        cursor: pointer;
        display: block;
    }
    nav ul li a{
        padding: 5px 5px;
    }
    
    nav p{
        font-size: 0.85rem;
    }

    #logo, #footer-logo{
        width: 10.5rem;
    }

    #imgsearch{
        width: 20px;
        height: 20px;
    }

    #searchbar{
        height: 25px;
    }

    .intro{
        height: 24rem;
    }
    .intro1{
        margin-top: 15px;
        height: 50vh;
    }
    .intropara{
        margin:5px 10px;
        font-size: 15px;
    }

    .intro h1{
        text-align: center;
        margin-top: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    
    }
    .mainimg2{
        height: 25vh;
    }
    .mainimg2 h1{
        font-size: 20.5px;
        top: 9%;
    }
    .footer-container{
        display: block;
    }
    footer{
        height: 20rem;
    }
    .footer-row{
        display: flex;
        margin-top: 0;
    }
    .footer-col{
        width: 50%;
        margin-bottom: .5em;
    }
    .footer-col h3{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 25px;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: .5rem;

    }
    .footer-row ul li{
        margin-bottom: 3px;
        transition: all 0.3s ease-in-out;

    }

    .social-links img{
        width: 2rem;
        margin: 0;
        padding: 5px;
    }
    .mainimg2 h1{
        top:8%;
        font-size: 40px;
        left: 1%;
        text-align: center;
    }
    .map{
        height: 50vh;
    }
    .galsect2{
        height: 280vh;
    }
    .galcontainer2{
        height: 270vh;
        display: block;
    }
    .galimg2{
        height: 200px;
    }
}